<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:format="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>MAINTENANCE WORK Management</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>

<div class="container-sm">

    <div th:replace="fragments/header :: header"></div>

    <div th:id="AddNewEmployee">

        <h1>Add Employee</h1>
        <form th:action="@{/addNewEmployee}" th:object="${Employee}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Surname</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="surname" th:field="*{surname}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date of employment</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="*{dateOfEmployment}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Salary</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputSalary" th:field="*{salary}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Add new employee</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>